.footer{
    background-color: #131921;
    text-align: center;
    width: 100%;
    color: #fff;
}
.logo100{
    width: 200px;
    height: auto;
}
.logo200{
    width: 20px;
    height: auto;
}
